body{
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6;
    font-family: 'Work Sans', sans-serif;
}
.navbar-brand
{
  font-size: 40px;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    text-align: center;
}

.button-class {
    background-color: rgb(213, 219, 230);
    font-family: 'Work Sans', sans-serif;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
    min-width: 200px;
    max-width: 200px;
}

button:hover {
    opacity: 0.8;
}

#modal-container {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    
    /* to show it above other content */
    z-index: 999; 
    
    /* to allow scrolling if the screen is not high enough*/
    overflow: auto; 
    
    /* this is used to center the modal */
    display: grid;
    text-align: center;
  }
  
  .modal-content {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: #b9bce3;
    padding: 15px;
    width: 100%;
    max-width: 700px;
    text-align: center;
  }
  
  .modal-close {
    float: right;
    border: 0;
    background: none;
    color: #777;
    text-decoration: underline;
  }

  .modal-title {
    text-align: center;
  }
  
  .modal h1 {
    margin-top: 0;
    text-align: center;
    text-transform: uppercase;
  }
  
  .modal p {
    margin-bottom: 0;
    text-align: center;
  }

  .modal img {
    text-align: center;
  }
  
  #modal-container {
    display: none;
  }
  
  #modal-container.is-visible {
    /* CSS for modal container - add your own desired CSS styles here */
    display: block;
  }